name: Debugging Workflow

on:
  workflow_dispatch:
    inputs:
      netmakerbranch:
        description: netmaker branch to run on.
        default: develop
        required: true
      netclientbranch:
        description: netclient branch to run on.
        default: develop
        required: true

  workflow_call:
    inputs:
      netmakerbranch:
        required: true
        type: string
      netclientbranch:
        required: true
        type: string

jobs:
  branchtest:
    uses: gravitl/devops/.github/workflows/testdeploybranch.yml@master
    with:
      netmakerbranch: ${{ github.event.inputs.netmakerbranch }}
      netclientbranch: ${{ github.event.inputs.netclientbranch }}
      tag: ${{ github.run_id }}-${{ github.run_attempt }}
    secrets: inherit