name: Debugging Workflow

on:
  workflow_dispatch:
    inputs:
      netmakerbranch:
        description: netmaker branch to run on.
        default: develop
        required: true
      netclientbranch:
        description: netclient branch to run on.
        default: develop
        required: true

  workflow_call:
    inputs:
      netmakerbranch:
        required: true
        type: string
      netclientbranch:
        required: true
        type: string

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh/
        echo "$SSH_KEY" > ~/.ssh/deploy.key
        chmod 600 ~/.ssh/deploy.key 
        ls ~/.ssh
        cat >>~/.ssh/config <<END
        Host *
          User root
          IdentityFile ~/.ssh/deploy.key
          StrictHostKeyChecking no
        END
        cat ~/.ssh/config
        cat ~/.ssh/deploy.key
      env:
          SSH_KEY: ${{ secrets.TESTING_SSH_KEY }}
    
    - name: test ssh
      run: |
        
        for arg in "branch1" "branch2" "branch3" "branch4" "branch5"; do
            echo checking $arg
            result=$( ssh root@server.${arg}.clustercat.com '~/branchtesting/check.sh') 
            echo $result
        done

        result=$(ssh server.branch1.clustercat.com ls /tmp)
        echo $result
        echo ${{ inputs.netmakerbranch }}
        echo ${{ inputs.netclientbranch }}
