name: Debugging Workflow

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        description: Digital Ocean tag
        default: "devops"
      network:
        required: true
        description: network name
        default: "devops"
      masterkey:
        description: masterkey of netmaker server
        default: "secretkey"

jobs:

  clean:
    name: remove all gateways
    runs-on: ubuntu-latest
    steps:
      - name: get binary
        uses: actions/checkout@v3
      - name: run tests
        id: clean
        run: |
          test/test clean
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DO_TOKEN  }}
          TAG: ${{ github.event.inputs.tag }}
          NETWORK: ${{ github.event.inputs.network }}
          MASTERKEY: ${{ github.event.inputs.masterkey }}
          KEY: ${{ secrets.TESTING_SSH_KEY }}
      - name: save logs
        uses: actions/upload-artifact@v3
        with:
          name: clean
          path: /tmp/clean.log
          retention-days: 3

  tests:
    needs: [clean]
    name: tests
    runs-on: ubuntu-latest
    steps:
      - name: get binary
        uses: actions/checkout@v3
      - name: run tests
        id: test
        run: |
          test/test peerUpdate
          test/test ingress
          test/test egress
          test/test relay
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DO_TOKEN  }}
          TAG: ${{ github.event.inputs.tag }}
          NETWORK: ${{ github.event.inputs.network }}
          MASTERKEY: ${{ github.event.inputs.masterkey }}
          KEY: ${{ secrets.TESTING_SSH_KEY }}
      - name: save logs
        uses: actions/upload-artifact@v3
        with:
          name: tests
          path: /tmp/*.log
          retention-days: 3

  results:
    needs: [clean, tests]
    name: sumarize results
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: get logs
        uses: actions/download-artifact@v3
        with:
          path: /tmp
      - name: generate results
        run: |
          test/scripts/results.sh
      - name: upload results
        uses: actions/upload-artifact@v3
        with:
          name: results
          path: |
            /tmp/results.log
            /tmp/errors.log
          retention-days: 3
      - name: final result
        run: |
          if [ -f /tmp/errors.log ] 
          then
            exit 1
          else
            exit 0
          fi

