name: Run All Tests

on:
  workflow_dispatch:

jobs:

  tests:
    uses: ./.github/workflows/branchtest.yml
    with:
      tag: devops
      network: devops
      api: "https://api.clustercat.com"
      masterkey: "secretkey"
      server: "server"
    secrets: inherit

