name: 'Terraform'

on:
  workflow_dispatch:
    inputs:
      netmakerbranch:
        description: netmaker branch to run on.
        default: develop
        required: true
      netclientbranch:
        description: netclient branch to run on.
        default: develop
        required: true
      server:
        description: server to run on.
        required: true
        type: choice
        options:
          - branch1
          - branch2
          - branch3
          - branch4
          - branch5
  workflow_call:
    inputs:
      netmakerbranch:
        required: true
        type: string
      netclientbranch:
        required: true
        type: string
      server:
        required: true
        type: string

jobs:
  # go:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Setup go
  #     uses: actions/setup-go@v3
  #     with:
  #       go-version: 1.19
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
    # Check if devops needs to access a branch with nm-quick changes
    - name: Quick Check
      id: quickcheck
      run: |
        wget -O nm-quick-develop.sh https://raw.githubusercontent.com/gravitl/netmaker/develop/scripts/nm-quick.sh
        wget -O nm-quick-branch.sh https://raw.githubusercontent.com/gravitl/netmaker/${{ inputs.netmakerbranch }}/scripts/nm-quick.sh
        diff ./nm-quick-develop.sh ./nm-quick-branch.sh || : > output.txt
        BRANCH_CHECK=$([ -s output.txt ] && echo "${{ inputs.netmakerbranch }}" ||   echo "master") >> $GITHUB_OUTPUT
        echo $BRANCH_CHECK
        export BRANCHES=$(git branch -r)
        [ -s BRANCHES ]  && echo "${{ inputs.netmakerBranch }} exists" || echo "IT LOOKS LIKE YOU HAVE MADE CHANGES TO THE NM-QUICK SCRIPT. THIS MAY AFFECT THE NM-QUICK SCRIPT ON THE DEVOPS SIDE. IF CHANGES ARE NEEDED TO THE DEVOPS NM-QUICK. PLEASE GIVE THE BRANCH THE SAME NAME AS THE NETMAKER BRANCH WHERE YOU MADE THE CHANGES."

    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3
      with:
        repository: gravitl/devops
  

  
  #  - name: Set Branches
  #    run: |
  #      cd qa/terraform/branchterraform
  #      echo variable \"branch\" { default = \"${{ inputs.netmakerbranch }}\" } >> variables.tf
  #      echo variable \"clientbranch\" { default = \"${{ inputs.netclientranch }}\" } >> variables.tf

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh/
        echo "$SSH_KEY" > ~/.ssh/deploy.key
        chmod 600 ~/.ssh/deploy.key 
        cat >>~/.ssh/config <<END
        Host *
          User root
          IdentityFile ~/.ssh/deploy.key
          StrictHostKeyChecking no
        END
      env:
          SSH_KEY: ${{ secrets.TESTING_SSH_KEY }}
    
    - name: Terraform Init
      run: |
        cd qa/terraform/branchterraform
        terraform init
        terraform validate
        terraform plan
        terraform apply -auto-approve
      env:
        TF_VAR_do_token: "${{ secrets.DO_TOKEN }}"
        TF_VAR_pvt_key: "${{ secrets.TESTING_SSH_KEY }}"
        TF_VAR_branch: "${{ inputs.netmakerbranch }}"
        TF_VAR_clientbranch: "${{ inputs.netclientbranch }}"
        TF_VAR_devopsbranch: "${{ steps.quickcheck.outputs.BRANCH_CHECK }}"
        TF_VAR_do_tag: ${{ github.run_id }}-${{ github.run_attempt }}
        TF_VAR_server: ${{ inputs.server }}

