name: Run All Tests

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        description: Digital Ocean tag
        default: "devops"
      network:
        required: true
        description: network name
        default: "devops"
      masterkey:
        description: masterkey of netmaker server
        default: "secretkey"
  schedule:
    - cron: '00 11 * * *'


jobs:

  binary:
    name: build test binary
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: build binary
        run: |
          mkdir bin
          go build -o bin/test test/main.go
      - name: save binary
        uses: actions/cache/save@v3
        with:
          path: bin/test
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

  clean:
    needs: [binary]
    name: remove all gateways
    outputs:
      clean: ${{ steps.clean.ouputs.clean }}
    runs-on: ubuntu-latest
    steps:
      - name: get binary
        uses: actions/cache/restore@v3
        with:
          path: bin/test
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - name: run tests
        id: clean
        run: |
          chmod +x bin/test
          clean=$(bin/test clean)
          echo "clean=$clean" >> $GITHUB_OUTPUT
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DO_TOKEN  }}
          TAG: ${{ github.event.inputs.tag }}
          NETWORK: ${{ github.event.inputs.network }}
          MASTERKEY: ${{ github.event.inputs.masterkey }}
          KEY: ${{ secrets.TESTING_SSH_KEY }}
      - name: save logs
        uses: actions/upload-artifact@v3
        with:
          name: clean.log
          path: /tmp/testing-clean.log
          retention-days: 3

  initial-ping:
    needs: [binary, clean]
    name: initial ping
    outputs:
      ping: ${{ steps.ping.outputs.ping }}
    runs-on: ubuntu-latest
    steps:
      - name: get binary
        uses: actions/cache/restore@v3
        with:
          path: bin/test
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - name: run tests
        id: ping
        run: |
          chmod +x bin/test
          ping=$(bin/test ping)
          echo "ping=$ping" >> $GITHUB_OUTPUT
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DO_TOKEN  }}
          TAG: ${{ github.event.inputs.tag }}
          NETWORK: ${{ github.event.inputs.network }}
          MASTERKEY: ${{ github.event.inputs.masterkey }}
          KEY: ${{ secrets.TESTING_SSH_KEY }}
      - name: save logs
        uses: actions/upload-artifact@v3
        with:
          name: ping.log
          path: /tmp/testing-ping.log
          retention-days: 3

  tests:
    needs: [binary, initial-ping, clean]
    name: tests
    outputs:
      peers: ${{ github.outputs.test.peers }}
      egress: ${{ github.output.test.egress }}
      ingress: ${{ github.output.test.ingress }}
      relay: ${{ github.output.test.relay }}
    runs-on: ubuntu-latest
    steps:
      - name: get binary
        uses: actions/cache/restore@v3
        with:
          path: bin/test
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - name: run tests
        id: test
        run: |
          chmod +x bin/test
          peers=$(bin/test peerUpdate)
          egress=$(bin/test egress)
          ingress=$(bin/test ingress)
          relay=$(bin/test relay)
          echo "peers=$peers" >> $GITHUB_OUTPUT
          echo "egress=$egress" >> $GITHUB_OUTPUT
          echo "ingress=$ingress" >> $GITHUB_OUTPUT
          echo "relay=$relay" >> $GITHUB_OUTPUT
          echo $peers $egress $ingress $relay
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DO_TOKEN  }}
          TAG: ${{ github.event.inputs.tag }}
          NETWORK: ${{ github.event.inputs.network }}
          MASTERKEY: ${{ github.event.inputs.masterkey }}
          KEY: ${{ secrets.TESTING_SSH_KEY }}
      - name: save logs
        uses: actions/upload-artifact@v3
        with:
          name: tests.log
          path: /tmp/testing-*.log
          retention-days: 3

  final-ping:
    needs: [binary, tests]
    name: final ping
    outputs:
      ping: ${{ steps.ping.outputs.ping }}
    runs-on: ubuntu-latest
    steps:
      - name: get binary
        uses: actions/cache/restore@v3
        with:
          path: bin/test
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - name: run tests
        id: ping
        run: |
          chmod +x bin/test
          ping=$(bin/test ping)
          echo "ping=$ping" >> $GITHUB_OUTPUT
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DO_TOKEN  }}
          TAG: ${{ github.event.inputs.tag }}
          NETWORK: ${{ github.event.inputs.network }}
          MASTERKEY: ${{ github.event.inputs.masterkey }}
          KEY: ${{ secrets.TESTING_SSH_KEY }}
      - name: save logs
        uses: actions/upload-artifact@v3
        with:
          name: ping2.log
          path: /tmp/testing-ping.log
          retention-days: 3

  results:
    needs: [clean, initial-ping, tests, final-ping]
    name: sumarize results
    runs-on: ubuntu-latest
    steps:
      - name: get logs
        uses: actions/download-artifact@v3
        with:
          path: /tmp
      - name: generate results
        env:
          clean: ${{ needs.clean.outputs.clean }}
          ping1: ${{ needs.initial-ping.outputs.ping }}
          peers: ${{ needs.tests.ouputs.peers }}
          ingress: ${{ needs.tests.ouputs.ingress }}
          egress: ${{ needs.tests.ouputs.egress }}
          relay: ${{ needs.tests.ouputs.relay }}
          ping2: ${{ needs.final-ping.outputs.ping }}
        run: |
          finalresult="PASS"
          if $clean 
          then
            echo "removing gateways: PASSED" >> /tmp/results.log
          else
            echo "removing gateways: FAILED" >> /tmp/results.log
            grep ERROR /tmp/clean.log/testing-clean.log >> /tmp/errors.log
            finalresult="FAIL"
          fi
          if $ping1
          then
            echo "initial ping: PASSED" >> /tmp/results.log
          else
            echo "initial ping: FAILED" >> /tmp/results.log
            grep ERROR /tmp/ping.log/testing-ping.log >> /tmp/errors.log
            finalresult="FAIL"
          fi
          if $peer
          then
            echo "peer update: PASSED" >> /tmp/results.log
          else
            echo "peer update: FAILED" >> /tmp/results.log
            grep ERROR /tmp/tests.log/testing-peerupdate.log >> /tmp/errors.log
            finalresult="FAIL"
          fi
          if $ingress
          then
            echo "ingress: PASSED" >> /tmp/results.log
          else
            echo "ingress: FAILED" >> /tmp/results.log
            grep ERROR /tmp/tests.log/testing-ingress.log >> /tmp/errors.log
            finalresult="FAIL"
          fi
          if $egress
          then
            echo "egress: PASSED" >> /tmp/results.log
          else
            echo "egress: FAILED" >> /tmp/results.log
            grep ERROR /tmp/tests.log/testing-egress.log >> /tmp/errors.log
            finalresult="FAIL"
          fi
          if $relay
          then
            echo "relay: PASSED" >> /tmp/results.log
          else
            echo "relay: FAILED" >> /tmp/results.log
            grep ERROR /tmp/tests.log/testing-relay.log >> /tmp/errors.log
            finalresult="FAIL"
          fi
          if $ping2
          then
            echo "final ping: PASSED" >> /tmp/results.log
          else
            echo "final ping: FAILED" >> /tmp/results.log
            grep ERROR /tmp/ping2.log/testing-ping.log >> /tmp/errors.log
            finalresult="FAIL"
          fi
          echo "finalresult=$finalresult" >> $GITHUB_ENV
      - name: upload results
        uses: actions/upload-artifact@v3
        with:
          name: results
          path: |
            /tmp/results.log
            /tmp/errors.log
          retention-days: 3
      - name: final result
        run: |
          if [ $finalresult==FAIL ]
          then
            exit 1
          fi
        env:
          finalresult: ${{GITHUB_ENV.finalresult }}

