name: Run Test

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        description: Digital Ocean tag
        default: "devops"
      network:
        required: true
        description: network name
        default: "devops"
      masterkey:
        description: masterkey of netmaker server
        default: "secretkey"
        required: true
      test:
        description: "test to run"
        required: true
        type: choice
        options:
          - clean
          - ping
          - ingress
          - egress
          - relay
          - internetGateway


jobs:

  binary:
    name: build test binary
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: build binary
        run: |
          mkdir bin
          go build -o bin/test test/main.go
      - name: save binary
        uses: actions/cache/save@v3
        with:
          path: bin/test
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

  run-test:
    needs: [binary]
    name: run-test
    runs-on: ubuntu-latest
    steps:
      - name: get binary
        uses: actions/cache/restore@v3
        with:
          path: bin/test
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - name: run tests
        id: run-test
        run: |
          chmod +x bin/test
          bin/test ${{ github.event.inputs.test }}
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DO_TOKEN  }}
          TAG: ${{ github.event.inputs.tag }}
          NETWORK: ${{ github.event.inputs.network }}
          MASTERKEY: ${{ github.event.inputs.masterkey }}
          KEY: ${{ secrets.TESTING_SSH_KEY }}
      - name: save logs
        uses: actions/upload-artifact@v3
        with:
          name: logs
          path: /tmp/*.log
          retention-days: 3

  results:
    needs: [run-test]
    name: sumarize results
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: get logs
        uses: actions/download-artifact@v3
        with:
          path: /tmp
      - name: generate results
        run: |
          test/scripts/results.sh

      - name: upload results
        uses: actions/upload-artifact@v3
        with:
          name: results
          path: |
            /tmp/results.log
            /tmp/errors.log
          retention-days: 3
      - name: final result
        run: |
          if [ -s /tmp/errors.log ]; then exit 1; fi

