name: Update Demo Server

on:
    workflow_call:
        inputs:
            version:
                required: true
                type: string
    workflow_dispatch:
        inputs:
            version:
                required: true
                type: string



jobs:
    update-demo-environment:
        runs-on: ubuntu-latest
        steps:
        - name: setup ssh
          run: |
            mkdir -p ~/.ssh/
            echo "$SSH_KEY" > ~/.ssh/id_devops
            chmod 600 ~/.ssh/id_devops
            cat >>~/.ssh/config <<END
            Host *.clustercat.com
                User root
                IdentityFile ~/.ssh/id_devops
                StrictHostKeyChecking no
            END
          env:
            SSH_KEY: ${{ secrets.TESTING_SSH_KEY }}
        - name: update server
          run: | 
                ssh 206.81.15.201 "bash updateimage.sh ${{ inputs.version }}"
          